/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.text_row{
    display: flex;
    flex-direction: row;
}

.text_column{
    display: flex;
    flex-direction: column;
}

.text_row .text_column{
    padding-right: 5%;
}

.text_row nav{
    display: flex;
    width: 85%;
    justify-content: right;
}
.text_row h2{
    margin-top: 3px;
}

.container {
    width: 100%;
    max-width: 1400px; /* A4 width */
    height: auto;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_area {
    margin-top: 10px ;
    width: auto;
    line-height: 1.7;
}

.image_name_normally {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: auto;
}

.image_name_normally h1{
    font-size: 2.3em;
    color: #333;
}

.button_frame {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.button_frame a{
    margin-right:20px;
}


.image_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: center;
    margin: 0 auto; /* Center the div horizontally */
    margin-top: 5%;
    margin-bottom: 7%;
}
.image_name img {
    display: block;
    margin: 1rem 2rem;
    width: auto;
    max-width: 25%;
    height: auto;
    border-radius: 50%; /* Make the image circular */
}
header {
    background: transparent;
    color: #333;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: hsl(229, 100%, 60%);
}

main {
    flex: 1;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 1.8em;
    border-bottom: 2px solid hsl(229, 100%, 60%);
    display: inline-block;
    padding-bottom: 5px;
}
.showcase {
    margin-bottom: 1.5rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.6s, box-shadow 0.3s; /* Smooth transition for hover effect */
    padding: 1rem; /* Add padding inside the project container */
    border-radius: 20px; /* Round the corners of the project container */
    justify-content: center;
}

.showcase img {
    display: block;
    margin: 1rem 2rem;
    width: auto;
    max-width: 40%;
    height: auto;
    border-radius: 12px;
}

.project {
    margin-bottom: 1.5rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.6s, box-shadow 0.3s; /* Smooth transition for hover effect */
    padding: 1rem; /* Add padding inside the project container */
    border-radius: 20px; /* Round the corners of the project container */
    justify-content: center;
}

.project:hover {
    /* background: #f0f0f0; Change background color on hover */
    box-shadow: 0 0 20px hwb(0 0% 100% / 0.502); /* Change box-shadow on hover */
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    
}

.project:hover h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.project img {
    display: block;
    margin: 1rem 2rem;
    width: auto;
    max-width: 40%;
    height: auto;
    border-radius: 12px;
}
.project-content {
    display: flex;
    align-items: flex-start; /* Align items vertically */
}

.project-link {
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit text color to prevent default link styling */
}

.project-description {
    margin-top: 0.5rem;
    padding-left: 1.5rem; /* Add padding to align bullet points */
    list-style-type: disc; /* Ensure bullet points are shown */
}

.project-description li {
    margin-bottom: 0.5rem; /* Space between bullet points */
}

.button_with_liner {
    background-color: hsl(222, 9%, 21%); 
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button_with_liner:hover {
    background-color: hwb(0 0% 100%);
    color: #fff;
}

.button_with_liner_nobg {
    color: #333; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    margin-top: 20px; /* Margin on top of the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from the text */
    font-weight: bold; /* Make the text bold */
    border-radius: 12px; /* Rounded corners */
    border: 1px solid hsl(240, 1%, 38%); /* Border around the button */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color changes */
}

.button_with_liner_nobg:hover {
    background-color: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}



.button {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.button:hover {
    color: hsl(229, 100%, 60%);
}

footer {
    background: transparent;
    color: #333;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
}

#contact a {
    color: hsl(229, 100%, 60%);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #333;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 30px;
    }

    header h1 {
        font-size: 2em;
    }

    nav ul li {
        margin: 0 10px;
    }

    section h2 {
        font-size: 1.5em;
    }

    .project h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    }

    .image_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        justify-content: center;
        margin: 0 auto; /* Center the div horizontally */
    }

    .image_name h1{
        font-size: 1.1 em;
    }

    .image_name .text_area{
        font-size: 1.1 em;
    }

    .image_name_normally {
        font-size: 1.0em;
    }

    .button_frame {
        display: flex;
        flex-direction: column;
    }

    .image_name img {
        display: block;
        margin: 1rem 2rem;
        width: auto;
        max-width: 50%;
        height: auto;
        border-radius: 50%; /* Make the image circular */
    }

    .container {
        width: 100%;
        padding: 20px;
        box-shadow: none;
    }

    .text_row{
        flex-direction: column;
        
    }    

    .text_row nav{
        display: flex;
        width: 85%;
        justify-content: center;
    }
    .text_row h2{
        padding-right: 10%;
    }

    .image_name {
        flex-direction: column;
    }

    .project-content {
        flex-direction: column;
    }

    .project-content img{
        justify-content: center;
    }

    .project img {
        display: block;
        margin: 1rem 2rem;
        width: auto;
        max-width: 70%;
        height: auto;
        
    }

    .project {
        flex-direction: column;
        padding: 0.5rem;
    }

    .project h3 {
        font-size: 1 em;
        
    }

    .showcase img {
        display: block;
        margin: 1rem 2rem;
        width: auto;
        max-width: 70%;
        height: auto;
    }

    .showcase {
        flex-direction: column;
        padding: 0.5rem;
    }

    .showcase h3 {
        font-size: 1.2em;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    .image_name_normally {
        font-size: 1.0em;
    }

    section h2 {
        font-size: 1.0em;
    }

    .project h3 {
        font-size: 1.0em;
    }

    .project img {
        max-width: 50%;
    }

    .showcase h3 {
        font-size: 1.0em;
    }


    .container {
        padding: 10px;
    }
}
